@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap');

body {
  margin: 0;
}

app-root {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'Archivo', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
  background: #F2F2F2;
}